*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{

}

img{
    max-width: 100%;

}

.cards{
    padding: 100px 0;
    background-color: #c8cbce;
    /* background-color: #eff0f2; */
}

.cards-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 calc(33.3% - 20px);
    display: flex;
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border-radius: 15px;
}

.card-text{
    width: 50%;
    margin-right: 15px;
}

.card-text h3{
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.card-text p{
    font-size: 15px;
    color: black;
}

.card-img{
    width: 50%;
}
























